<div id="pagina-1" class="pagina-1">
    <div id='botonera-1' class="botonera-1">
        <button id="botonTemp1" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=1';">
            <div class='dos-textos-vertical'>
                <div><span id="estados_campo_TempActual1" class='fuente-grande'>0</span><span
                        class='fuente-grande'>º</span></div>
                <div> <span class='fuente-mediana'>&#60;</span>
                    <span id="estados_campo_SetTemperatura1" class='fuente-mediana'>0</span>
                    <span class='fuente-mediana'>º</span>
                    <span class='fuente-mediana'>&#62;</span>
                </div>
            </div>
        </button>
        <button id="botonTime1" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=1';">
            <span id="estados_campo_TiempoActual1" class='fuente-grande'>0</span>
            <span class='fuente-grande'>''</span>
        </button>
        <button id="botonCont11" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador11" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont21" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador21" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont31" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador31" class='fuente-grande'>-1</span>
        </button>
    </div>
    <div id='botonera-2' class="botonera-2">
        <button id="botonTemp2" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=2';">
            <div class='dos-textos-vertical'>
                <div><span id="estados_campo_TempActual2" class='fuente-grande'>0</span><span
                        class='fuente-grande'>º</span></div>
                <div> <span class='fuente-mediana'>&#60;</span>
                    <span id="estados_campo_SetTemperatura2" class='fuente-mediana'>0</span>
                    <span class='fuente-mediana'>º</span>
                    <span class='fuente-mediana'>&#62;</span>
                </div>
            </div>
        </button>
        <button id="botonTime2" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=2';">
            <span id="estados_campo_TiempoActual2" class='fuente-grande'>0</span>
            <span class='fuente-grande'>''</span>
        </button>
        <button id="botonCont12" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador12" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont22" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador22" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont32" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador32" class='fuente-grande'>-1</span>
        </button>
    </div>
    <div id='botonera-3' class="botonera-3">
        <button id="botonTemp3" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=3';">
            <div class='dos-textos-vertical'>
                <div><span id="estados_campo_TempActual3" class='fuente-grande'>0</span><span
                        class='fuente-grande'>º</span></div>
                <div> <span class='fuente-mediana'>&#60;</span>
                    <span id="estados_campo_SetTemperatura3" class='fuente-mediana'>0</span>
                    <span class='fuente-mediana'>º</span>
                    <span class='fuente-mediana'>&#62;</span>
                </div>
            </div>
        </button>
        <button id="botonTime3" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=3';">
            <span id="estados_campo_TiempoActual3" class='fuente-grande'>0</span>
            <span class='fuente-grande'>''</span>
        </button>
        <button id="botonCont13" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador13" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont23" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador23" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont33" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador33" class='fuente-grande'>-1</span>
        </button>
    </div>
    <div id='botonera-4' class="botonera-4">
        <button id="botonTemp4" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=4';">
            <div class='dos-textos-vertical'>
                <div><span id="estados_campo_TempActual4" class='fuente-grande'>0</span><span
                        class='fuente-grande'>º</span></div>
                <div> <span class='fuente-mediana'>&#60;</span>
                    <span id="estados_campo_SetTemperatura4" class='fuente-mediana'>0</span>
                    <span class='fuente-mediana'>º</span>
                    <span class='fuente-mediana'>&#62;</span>
                </div>
            </div>
        </button>
        <button id="botonTime4" class="btn btn-estado btn-danger"
            onclick="window.location.href = '/dashboard/edicion?prensa=4';">
            <span id="estados_campo_TiempoActual4" class='fuente-grande'>0</span>
            <span class='fuente-grande'>''</span>
        </button>
        <button id="botonCont14" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador14" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont24" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador24" class='fuente-grande'>-1</span>
        </button>
        <button id="botonCont34" class="btn btn-estado btn-danger">
            <span id="estados_campo_Contador34" class='fuente-grande'>-1</span>
        </button>
    </div>
</div>

<script>
    setInterval(() => {
        $.ajax({
            type: "POST",
            url: "/plc/leer_temperaturas_contadores",
            success: (data) => {
                mostrar_valores(data)
            },
            error: (xhr) => {
                console.log(xhr)
            }
        })
    }, 200)

    let botones = ['botonTemp', 'botonTime','botonCont1','botonCont2','botonCont3']

    relacion = {
        temperatura_actual: 'estados_campo_TempActual',
        set_segundos_ciclo: 'estados_campo_TiempoActual',
        set_temperatura: 'estados_campo_SetTemperatura',

        contador_1: 'estados_campo_Contador1',
        contador_2: 'estados_campo_Contador2',
        contador_3: 'estados_campo_Contador3',
    }

    function mostrar_valores(data) {
        for (let dato of data) {
            for (let i = 1; i <= 4; i++) {
                if (dato.name == 'encendida') {
                    for (let boton of botones) {
                        let _boton = document.getElementById(boton + i)
                        if (_boton != null) {
                            if (dato['valor_' + i] == 1) {
                                _boton.className = _boton.className.replace('btn-danger', 'btn-primary')
                            }
                            else {
                                _boton.className = _boton.className.replace('btn-primary', 'btn-danger')
                            }
                        }
                    }
                }
                else {
                    let element = document.getElementById(relacion[dato.name] + i)
                    element.innerText = dato['valor_' + i]
                }
            }
        }
    }
</script>