<div class="contenedor-menu">
    <button class="btn btn-info btn-menu" onclick="window.location.href = '/dashboard/configuracion';">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info btn-menu" onclick="window.location.href = '/dashboard/admin';">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info btn-menu" onclick="window.location.href = '/dashboard/admin/comunicacion';">
        <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>
</div>